body{
    background-image: url("assets/topper.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.singleBurger{
    border:solid 2px blue;
    background-color: lightblue;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
}

.mainContent{
    border:solid 2px red;
}

#top{
    color:white;
}
   
img{
    width: 25%;
    vertical-align: middle;
}

p{
    display: inline-block;
    width:74%; /*setting to 75% will still cause bunching*/
    vertical-align: middle;
}

